body {
  font-family: "Raleway", sans-serif;
}

/* barra navegación */
.navbar_title{
  font-size: 16px;
  font-weight: bold;
  color: #c5c5c5;
}

.navbar_text {
  font-size: 16px;
  font-weight: bold;
}

/* header descripción */

.header_description {
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.header_description a{
  text-decoration: none;
}

/* mis trabajos */
#Mis-trabajos {
  background-color: #cccccc;
}


#Mis-trabajos .image-top {
  height:250px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}


.line {
  width: 100%;
  height: 2pt;
}

#Mis-trabajos a{
  text-decoration: none;
}

/* contacto */
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }
}

/* footer */
.footer a{
  text-decoration: none;
}